
.navbar {
    position: fixed;
    top: 0;
    left: 2.5%;
    width: 95%;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 100; 
    margin-top: 1rem;
    border-radius: 25px;
  }
  
  .nav-links-container {
    display: flex;
    gap: 10px; 
    margin-left: 10rem;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-link:hover,
  .nav-link.active {
    border-bottom: 2px solid #fff; 
  }
  